<!DOCTYPE html>
<html>
<head>
  <title>{%= TITLE }</title>

  <style type="text/css">
    body { font-family: Arial, sans-serif; }
    * { box-sizing: border-box; }
    .box { text-align: center; }
    p { font-size: 16px; }
  </style>
</head>
<body>

  <div class="box">
    <h1>{%= TITLE }</h1>
    <em>{%= DESCRIPTION }</em>
    <p>Your application is ready. For some help, please visit <a href="#">Summoner</a>.</p>
    <h2>What's next ?</h2>
    <p>Read doumentation to learn <a href="#">Create my first page in Summoner</a>.</p>
  </div>
  
</body>
</html>